name: "Librofm downloader"
version: "2.2.1"
slug: "librofm_sync"
description: "Tool to sync down your libro.fm library "
url: "https://github.com/burntcookie90/librofm-downloader"
arch:
  - amd64
  - aarch64
  - armv7
ports:
  8080/tcp: 8080
webui: "http://[HOST]:[PORT:8080]"
map:
  - share:rw
  - media:rw
  - addon_config:rw
options:
  libro_fm_username: ""
  libro_fm_password: ""
  format: "M4B_MP3_FALLBACK"
  sync_interval: "d"
  rename_chapters: false
  write_title_tag: false
  parallel_count: 1
  log_level: "INFO"
  path_pattern: "FIRST_AUTHOR/BOOK_TITLE"
  hardcover_token: ""
  hardcover_sync_mode: "LIBRO_OWNED_TO_HARDCOVER"
  skip_tracking_isbns: ""
  healthcheck_id: ""
  books_path: "/media/books"
schema:
  libro_fm_username: str
  libro_fm_password: password
  format: list(MP3|M4B_MP3_FALLBACK|M4B_CONVERT_FALLBACK)
  sync_interval: list(h|d|w)
  rename_chapters: bool
  write_title_tag: bool
  parallel_count: int(1,10)
  log_level: list(NONE|INFO|VERBOSE)
  path_pattern: str
  hardcover_token: str?
  hardcover_sync_mode: list(LIBRO_WISHLISTS_TO_HARDCOVER|LIBRO_OWNED_TO_HARDCOVER|LIBRO_ALL_TO_HARDCOVER|HARDCOVER_WANT_TO_READ_TO_LIBRO|ALL)?
  skip_tracking_isbns: str?
  healthcheck_id: str?
  books_path: str?
