name: Update KOReader Sync Server
on:
  schedule:
    # Once a day.
    - cron: '0 0 * * *'
  # allow manual trigger
  workflow_dispatch:
defaults:
  run:
    shell: bash

jobs:
  check-koreader-version:
    name: Check KOReader Sync Server version
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get latest release tag and update YAML file
        run: |
          latest_version=$(curl -s https://api.github.com/repos/koreader/koreader-sync-server/tags | jq -r '.[0].name')
          current_version=$(grep -Po '(?<=version: ")[^"]+' koreader-sync-server/config.yaml)
          if [[ "$latest_version" != "$current_version" ]]; then
            sed -i "s/version: \".*\"/version: \"$latest_version\"/g" koreader-sync-server/config.yaml
          fi

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        continue-on-error: true
        with:
          commit_message: Bump koreader-sync-server version
