name: Trigger rebuild from external branch
on:
  schedule:
    # Once a day.
    - cron: '0 0 * * *'
  # allow manual trigger
  workflow_dispatch:
defaults:
  run:
    shell: bash

jobs:
  check-actualbudget-version:
    name: Check Audiobookshelf version
    runs-on: ubuntu-latest
    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Get latest release tag and update YAML file
        run: |
          latest_version=$(curl -s https://api.github.com/repos/advplyr/audiobookshelf/tags | jq -r '.[0].name' | cut -d 'v' -f 2)
          current_version=$(grep -Po '(?<=version: ")[^"]+' audiobookshelf/config.yaml)
          if [[ "$latest_version" != "$current_version" ]]; then
            sed -i "s/version: \".*\"/version: \"$latest_version\"/g" audiobookshelf/config.yaml
          fi

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        continue-on-error: true
        with:
          commit_message: Bump audiobookshelf version
